.login {
  border: 2px solid #ededed;
      border-radius: 10px;
      background: #ededed;
      z-index: 2;
      position: absolute;
      top: 55px;
      right:1rem;
      width: 85%;
      h2{
        text-align:center;
      }

    h3 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    input {
      display: block;
margin: 0 auto;
width: 75%;
margin-bottom: 1rem;
padding: .8rem;
font-size: .8rem;
border-radius: 10px;
    }
}

.form {
    position: relative;

    .user {
      position: absolute;
  top: 60px;
  right: 26px;
  z-index: 1;
  font-size: 1rem;
  color: #b5b5b5;
    }

    .lock {
      position: absolute;
top: 121px;
right: 26px;
font-size: 1rem;
color: #b5b5b5;
    }

    span {
      cursor: pointer;
    text-align: right;
    display: block;
    margin-right: 9%;
    font-size: .8rem;
    color: #b5b5b5;
    transition: color 0.2s ease-in-out;

        &:hover {
            color: black;
        }
    }

    .submit {
      cursor: pointer;
    margin-top: 1rem;
    margin-top: 1rem;
    width: 83%;
    color: white;
    font-size: .8rem;
    border: none;
    background: #31d125;
    margin-bottom: 1rem;
    }

    h5 {
        a {
            text-decoration: none;
            color: #b5b5b5;
            transition: color 0.3s ease-in-out;
        }
        text-align: right;
    display: block;
    text-decoration: none;
    font-size: .5rem;
    margin-right: 23px;
    color: #b5b5b5;
    }
}
@media(min-width:700px) {
    .login {
        width: 54%;
    }
}
@media(min-width:800px) {
    .login {
        width: 55%;
    }
}
@media(min-width:1000px) {
    .login {
        width: 36%;
    }
}
