.nav-container {
    display: block;
    text-align: center;
    padding-top: .5rem;
    padding-bottom:.5rem;
}

nav {
    padding-top: 0.3rem;
    padding-left: 2rem;

    #nav-heart {
        margin-right: 0;
    }
    span{
      display:none;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        margin-right: 1rem;
        color: $text-color;
        font-size: 2rem;
        margin-right: 2.3rem;

        &:hover {
            color: black;
        }
    }
}
.sticky{
  z-index:10;
  background:#1B74B9;
}
@media(min-width:600px) {
    .nav-container {
        display:block;
        margin-top: 0;
        padding-top: .5rem;
        margin-right: 1rem;
        padding-bottom:.5rem;

        .fa {
            margin-right: 0;
        }

        span {
            margin-right: 0.5rem;
        }

        a {
            margin-right: 0.3rem;
            font-size: 1rem;

            span {
                display: inline-block;
                font-size: 1rem;
            }
        }
    }
    nav{
      display:block;
      float:right;
    }
    .login-menu {
        margin-right: 3rem;
    }
}
