.tabs{
  list-style:none;
  padding:0;
  text-align:center;
  margin-top:3rem;
  li{
    font-size:.5rem;
    background:$icon-color;
    padding-top:1rem;
    padding-bottom:1rem;
    display:inline-block;
    width:33.33%;
    color:white;
    box-sizing:border-box;
    cursor:pointer;
    transition:all .3s ease-in-out;
    &:hover{
      background:$background-color;
    }
  }
  .food-tab-open{
    transform:scale(1.1);
    border-left:2px solid white;
    background:$background-color;
    border-bottom:none;
    box-sizing:border-box;
    &:hover{
      background:$background-color;
    }
  }
  .event-tab-open{
    transform:scale(1.1);
    border-left:2px solid white;
    background:$background-color;
    border-bottom:none;
    box-sizing:border-box;
    &:hover{
      background:$background-color;
    }
  }
  .adventure-tab-open{
    transform:scale(1.1);
    border-left:2px solid white;
    background:$background-color;
    border-bottom:none;
    box-sizing:border-box;
    &:hover{
      background:$background-color;
    }
  }
}
