.search-field{
  display:none;
}



@media(min-width:830px){

.search-field{
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 4rem;
    float:left;
    padding-bottom:.5rem;
  .fa{
    position: absolute;
    left: 158px;
    top:3px;
    z-index:1;
  }
  input{
    border-radius:9px;
    padding-left:.5rem;
    ::-webkit-input-placeholder {
        color: white;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: white;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: white;
    }

    :-ms-input-placeholder {
        color: white;
    }
  }
}
}
