.event-bar{
  width:33%;
  display:inline-block;
  color:white;
  text-align:center;
  background:url('https://t4.ftcdn.net/jpg/01/23/60/47/240_F_123604771_IOtdy5cM3yLshKlH01ynRUsvHmbfUvmd.jpg');
  background-size:cover;
  border-radius:10px;
}
.food-bar{
  width:33%;
  display:inline-block;
  color:white;
  text-align:center;
  background:url('https://t4.ftcdn.net/jpg/01/23/60/47/240_F_123604771_IOtdy5cM3yLshKlH01ynRUsvHmbfUvmd.jpg');
  background-size:cover;
  border-radius:10px;

}
.adventure-bar{
  width:33%;
  display:inline-block;
  color:white;
  text-align:center;
  background:url('https://t4.ftcdn.net/jpg/01/23/60/47/240_F_123604771_IOtdy5cM3yLshKlH01ynRUsvHmbfUvmd.jpg');
  background-size:cover;
  border-radius:10px;
}
