.searchList {
    ul {
        padding: 0;
        text-align: center;
        list-style: none;
    }
}
.map-overlay{
position: absolute;
width: 100%;
height: 9.7rem;
background: transparent;
&:hover{
  display:none;
}
}

.search-results {
    .fa {
        color: $icon-color;
    }

    .research {
        text-align: center;
        color: $font-color;
        display: block;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        cursor: pointer;

        &:hover {
            color: $hover-color;
        }
    }
}
#liked-heart-icon{
  position: absolute;
    top: 0;
    font-size: 2rem;
    padding: .5rem;
    background: rgba(0,0,0,.5);
    color: red;
    border-bottom-right-radius: 10px;
}
#try-again-loading{
  display: block;
    margin: 0 auto;
    color: $font-color;
    font-size: 2rem;
}
.yelp {
  width:3rem;
  vertical-align:middle;
}

.business-info {
    display: inline-block;
    width: 47%;
}

.business-name {
  text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 1rem;
  background: #1B74B9;
    padding-left: 3rem;
}

.results {
  text-align: left;
  width: 90%;
  display: block;
  border: 2px solid black;
  margin: 0 auto 2rem;
  background: $background;
  position: relative;

    .picture {
        width: 10rem;
        margin-left: .5rem;
        margin-top: 1rem;
        vertical-align: top;
        margin-bottom: 1rem;
    }
}

#heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
  border-bottom-right-radius: 10px;

    &:hover {
        color: red;
    }
}

.ratings {
    display: block;
    text-align: center;
}

.search-title {
    text-align: center;
    font-size: 1.8rem;
    color: $font-color;
    margin-bottom: 0;
}

.stars {
    display: block;
    width: 7rem;
    margin: 0 auto;
}

.contact {
  color:$font-color;
  display: inline-block;
    width: 88%;
    margin-left: .6rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: .3rem;
    padding-top: .4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;


    .address {
        margin-bottom:0;
        margin-top:0;
    }
    h5{
      margin-top:0;
      margin-bottom:.2rem;
      text-align:center;
    }

    h4 {
        text-align: center;
        margin: 0 0 0.5rem;
    }
}

.map {
  width: 97%;
display: block;
margin: 0 auto;
}

.liked-heart {
    color: red;
}

.links {
    margin-top: 0.3rem;

    img {
        display: block;
        margin: 0 auto;
        width: 7rem;
    }

    .fa {
        color: white;
        position: absolute;
        top: 17%;
        left: 29%;
        font-size: 2.5rem;
    }
}

.review-section {
  margin-top:1rem;
  margin-bottom:1rem;
    .reviewer-pic {
        margin-left: 0.3rem;
        border-radius: 50%;
        width: 4rem;
        margin-bottom: 5rem;
        margin-right: 0.2rem;
    }

    span {
        border: 1px solid black;
        width: 64%;
        float: right;
        padding: 1.2rem;
        background: #D9DEE3;
        border-radius: 10px;
        margin-right: 0.3rem;
    }
}
.result-picture{
  display:inline-block;
  position:relative;
  width:53%;
  vertical-align:top;
}
.liked-overlay {
  position: absolute;
height: 10rem;
width: 10rem;
top: 1rem;
left: 8px;
background: rgba(0, 0, 0, 0.4);
    a{
      text-decoration:none;
    }
    span{
      position: absolute;
    top: 42px;
    left: 15px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    }
    .liked {
        font-size: 10rem;
        color: #f40428;
    }

    h3 {
        display: none;
        text-align: center;
        font-size: 2rem;
        color: white;
    }
}
.arrow_box {
	position: relative;
	background: #D9DEE3;
	border: 1px solid black;
}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 31%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
    border-right-color: #D9DEE3;
    border-width: 15px;
    margin-top: -25px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: black;
  border-width: 15px;
  margin-top: -24px;
}
@media(min-width:450px){
  .results{
    width:24rem;
  }
}
@media(min-width:700px) {
    .results {
        display: inline-block;
        vertical-align: top;
        margin-right: 0;
        margin-left: 1rem;

        .picture {
            margin-left: 0.5rem;
            width: 11rem;
        }

        .business-info {
            margin-left: 0.5rem;
        }
    }

    .address {
        margin-top: 1.5rem;
    }
    .result-picture{
      width:47%;
    }

    .liked-overlay {
        height: 11rem;
        width: 11rem;
        left: 8px;
        .liked{
          font-size:11rem;
        }

    }
}
@media(min-width:1000px) {
    .business-name {
        font-size: 1.5rem;
    }

    .stars {
        width: 8rem;
    }

    .review-section {
        span {
            width: 67%;
            display: inline-block;
        }

        .reviewer-pic {
            width: 4rem;
            display: inline-block;
            margin-left: 0.3rem;
        }
    }
}
