
.weather{
  position: absolute;
    top: -6px;
    right: 19px;
    z-index: 2;
    span{
      display: block;
      font-size: 20px;
      margin-left: 5px;
      margin-top: 7px;
      color: white;
    }
    .weather-icon{
      width: 36px;
    margin-top: -5px;
    }
}
